.sportsbookReviewGridSection {
  margin-top: 20px;
  padding-bottom: 12px;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}
.sportsbookReviewGridItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}
.sportsbookReviewGridItem h3 {
  font-size: 13px;
  line-height: 16px;
  font-family: var(--font-family-bold);
  font-weight: 700;
  color: var(--primary-blue);
  padding: 8px 16px;
}
.sportsbookReviewGridItemInfo {
  display: flex;
  gap: 24px;
  padding: 12px 16px;
}
.topSportsbookReviewGridItemInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
}
.bottomSportsbookReviewGridItemInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.SportsbookReviewGridRating {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.SportsbookReviewGridRating svg {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}
.sportsbookReviewGridItemInfoHeading {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-family-regular);
  font-weight: 400;
  flex-shrink: 0;
  color: var(--primary-grey);
}
.bottomSportsbookReviewGridItemInfo p {
  font-family: var(--font-family-regular);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.bottomSportsbookReviewGridItemInfo ul > h5 {
  font-size: 13px;
  line-height: 16px;
  font-family: var(--font-family-regular);
  font-weight: 400;
}
.reviewGridWrapperTablet {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 15px;
  border: var(--border);
  border-radius: 0px 0px 8px 8px;
}
.reviewGridSubHeading {
  font-size: 12px;
  line-height: 18px;
  font-family: var(--font-family-regular);
  font-weight: 600;
  color: var(--primary-black);
}
.sportsbookHeader {
  display: none;
}
.sportsbookRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 16px 12px 16px;
}
.sportsbookName {
  margin-bottom: 20px;
}
.sportsbookName a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  font-family: var(--font-family-bold);
  color: var(--primary-blue);
}
.sportsbookRating {
  display: flex;
  margin-bottom: 8px;
}
.sportsbookHighlights {
  display: flex;
}
.sportsbookRating label,
.sportsbookHighlights label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--font-family-regular);
  color: var(--primary-grey);
  min-width: 130px;
  flex-shrink: 0;
}
.sportsbookHighlights p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--font-family-regular);
  color: var(--primary-black);
}
@media (min-width: 768px) {
  .sportsbookReviewGridSection {
    margin: 20px 16px 0px 16px;
    box-shadow: var(--box-shadow);
  }
  .reviewGridInner {
    border: var(--border);
    margin: 15px;
    border-radius: 8px;
  }
  .sportsbookHeader {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background: var(--primary-background);
    border-bottom: var(--border);
  }
  .sportsbookName,
  .sportsbookRating,
  .sportsbookHighlights {
    margin-bottom: 0px;
  }
  .reviewGridSubHeading {
    padding: 13px 16px;
  }
  .sportsbookRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px 15px 16px;
    border-bottom: var(--border);
  }
  .sportsbookName {
    min-width: 159px;
    max-width: 159px;
  }
  .sportsbookRating {
    min-width: 174px;
    max-width: 174px;
  }
  .sportsbookRating label,
  .sportsbookHighlights label {
    display: none;
  }
  .sportsbookName a,
  .sportsbookHighlights p {
    font-size: 14px;
    line-height: 20px;
  }
  .hideOnMobile {
    display: block;
  }
}
@media (min-width: 1349px) {
  .sportsbookReviewGridSection {
    padding: 0px;
    margin: 32px;
  }
  .reviewGridSubHeading {
    font-size: 16px;
    line-height: 18px;
    color: var(--primary-black);
    font-family: var(--font-family-semibold);
  }
  .sportsbookName a,
  .sportsbookHighlights p {
    font-size: 16px;
    line-height: 20px;
  }
  .sportsbookRating {
    min-width: 194px;
    max-width: 194px;
  }
  .sportsbookName {
    min-width: 342px;
    max-width: 342px;
  }
}
