.sportsbookReviewsSection {
  margin-top: 20px;
}
.sportsbookReviewsSection .sectionHeading {
  text-align: center;
  padding-bottom: 16px;
}
.sportsbookReviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
  padding: 0px 16px;
}
.sportsbookReviewsItem {
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  border: var(--border);
  padding: 15px;
}
.sportsbookReviewsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sportsbookReviewsInfo p {
  font-size: 15px;
  line-height: 20px;
  font-family: var(--font-family-regular);
  font-weight: 400;
}
.sportsbookReviewsItemHeading svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.sportsbookReviewsRating {
  display: flex;
  flex-shrink: 1;
  gap: 12px;
  padding-top: 23px;
  border-top: var(--border);
}
.reviewRatingIcon svg {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.sportsbookReviewsItemInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.sportsbookReviewsItemInfo h3 {
  font-size: 17px;
  line-height: 24px;
  font-family: var(--font-family-bold);
  font-weight: 700;
  flex-shrink: 0;
}
.sportsbookReviewsItemRating {
  display: flex;
  gap: 8px;
}
.sportsbookReviewsItemRating ul {
  display: flex;
  gap: 4px;
}
.sportsbookReviewsItemRating ul svg {
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.sportsbookReviewsItemRating p {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-family-regular);
  font-weight: 400;
  color: var(--primary-grey);
}
@media (min-width: 768px) {
  .sportsbookReviewsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sportsbookReviewsItem {
    width: calc(50% - 12px);
  }
}
@media (min-width: 1349px) {
  .sportsbookReviewsSection {
    margin-top: 32px;
  }
  .sportsbookReviewsWrapper {
    flex-wrap: nowrap;
  }
  .sportsbookReviewsWrapper {
    padding: 0px 32px;
  }
}
