.sportsNewsWrapper {
  margin: 12px 16px;
}
.sportNewsImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}
.sportNewsImage img {
  border-radius: 4px;
}
.singleSportNews {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: var(--border);
  align-items: center;
}
.sportNewsInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.singleSportNews h3 > a {
  font-size: 19px;
  line-height: 24px;
  font-family: var(--font-family-bold);
  color: var(--primary-black);
}
.singleSportNews h3 > a:hover {
  color: var(--primary-blue);
}
.singleSportNews p {
  font-size: 15px;
  line-height: 20px;
  font-family: var(--font-family-regular);
  font-weight: 400;
  padding-bottom: 12px;
}
.sportNewsItem {
  display: flex;
  flex-shrink: 1;
  gap: 8px;
  padding: 12px 0px;
  border-bottom: var(--border);
}
.sportNewsItem .sportNewsItemImg {
  width: 110px;
  height: 82px;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
}
.sportNewsItem .sportNewsItemImg img {
  border-radius: 4px;
}
.sportNewsItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}
.sportNewsItemInfo > a:hover {
  color: var(--primary-blue);
}
.sportsNewsWrapper .viewMore {
  padding: 12px 0px;
}
@media (min-width: 768px) {
  .sportsNewsSection {
    box-shadow: var(--box-shadow);
    margin: 0px 16px;
  }
  .sportsNewsWrapper {
    margin: 0px;
    padding: 15px;
    border: var(--border);
  }
  .sportsNewsWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 0px 0px 8px 8px;
  }
  .sportsNewsWrapperInner {
    display: flex;
    gap: 12px;
  }
  .singleSportNews,
  .multipleSportNews {
    width: calc(50% - 6px);
  }
  .singleSportNews {
    border-bottom: none;
  }
  .singleSportNews p {
    padding-bottom: 0px;
  }
  .sportsNewsWrapper .viewMore {
    padding: 0px;
    padding-bottom: 12px;
  }
  .sportNewsItem .sportNewsItemImg {
    width: 85px;
    height: 64px;
    border-radius: 4px;
  }
  .sportNewsItemImg img {
    border-radius: 4px;
  }
  .sportNewsItem:first-child {
    padding: 0px 0px 8px 0px;
  }
  .sportNewsItem {
    padding: 8px 0px;
  }
  .sportNewsItem:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .VisibleOnTablet {
    display: block;
  }
}

@media (min-width: 1200px) {
  .sportNewsItem .sportNewsItemImg {
    width: 127.83px;
    max-width: 100%;
    height: 72px;
    max-height: 100%;
    border-radius: 4px;
  }
}
@media (min-width: 1348px) {
  .sportsNewsSection {
    margin: 32px;
  }
  .multipleSportNews {
    flex-direction: column-reverse;
  }
  .sportNewsImage {
    width: 346px;
    height: 276px;
  }
  .sportNewsImage {
    max-width: 604px;
    width: 100%;
    max-height: 339px;
    height: 100%;
  }
  .sportsNewsWrapperInner {
    gap: 30.63px;
    padding: 15px 23px;
    padding-bottom: 0px;
  }
  .sportsNewsWrapper {
    padding: 0px;
    gap: 0px;
  }
  .sportNewsItem {
    padding: 8px 0px;
  }
  .multipleSportNews .sportNewsItem:first-child {
    padding: 0px 0px 8px 0px;
  }
  .multipleSportNews .sportNewsItem:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .singleSportNews {
    max-width: 604px;
    width: 100%;
    align-items: flex-start;
  }
  .sportNewsItemInfo {
    gap: 8px;
  }
  .sportsNewsWrapper .viewMore {
    padding: 16px 0px 16px 0px;
  }
}
