.sportsBettingHome {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 12px;
  margin: 20px 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--linear-gradient);
}
.headerInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.headerInfoHeading {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-bold);
  color: var(--primary-white);
}
.headerInfoWrapper p {
  color: var(--primary-white);
  font-family: var(--font-family-semibold);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}
.dropdownWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dropdownWrapper .subHeading {
  color: var(--primary-white);
}
.sportbookDropdown,
.stateDropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dropdown {
  position: relative;
}
.dropdownBtn {
  background-color: var(--primary-white);
  border: var(--border);
  padding: 7px 13px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--font-family-regular);
  color: var(--primary-grey);
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdownBtn svg {
  width: 10px;
  height: 10px;
  stroke: var(--ternary-grey);
}
.dropdown:hover svg {
  transform: rotate(180deg);
  stroke: var(--primary-blue);
}
.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 295px;
  overflow-y: scroll;
  background-color: var(--primary-white);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  z-index: 9;
}
.dropdownContent div {
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-family-regular);
  color: var(--primary-grey);
}
.dropdownContent div:hover {
  color: var(--bg-dark-grey);
}
.dropdown:hover .dropdownContent {
  display: block;
}
@media (min-width: 768px) {
  .sportsBettingHome {
    padding: 16px;
  }
  .dropdownWrapper {
    flex-direction: row;
    gap: 16px;
  }
  .sportbookDropdown select,
  .stateDropdown select {
    width: 240px;
    max-width: 100%;
  }
  .dropdown {
    width: 240px;
  }
  .dropdownContent {
    width: 240px;
  }
}
@media (min-width: 1349px) {
  .sportsBettingHome {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    margin: 24px 32px;
  }
  .headerInfoWrapper {
    max-width: 594px;
  }
  .dropdownWrapper {
    gap: 48px;
  }
  .headerInfoWrapper p {
    padding-bottom: 4px;
  }
}
